<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Routing Demo</title>
</head>
<body>
  <!-- <home></home>
  <about></about>
  <contact></contact> -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-black py-0 px-0">
  <!-- Navbar content -->
  <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav">
       <a class="navbar-brand" routerlink href="#">Home</a>
       <a class="navbar-brand" routerlink  href="about">About</a>
       <a class="navbar-brand" routerlink  href="contact">Contact</a>
     </ul>
  
     
  </div>
  
</nav>
 <router-outlet></router-outlet>
</body>
</html>